<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	
	<context:component-scan base-package="com.gss.adm.rest.plugin.domain.converter" />
	<context:component-scan base-package="com.gss.adm.rest.plugin.domain.simple.converter" />
	<context:component-scan base-package="com.gss.adm.rest.plugin.form.converter" />
	<context:component-scan base-package="com.gss.adm.rest.plugin.converter" />
	<context:annotation-config />

	<bean id="alertSystemStatusResource" class="com.gss.adm.rest.plugin.resource.AlertSystemStatusResource" />
	<bean id="attributeDefinitionResource" class="com.gss.adm.rest.plugin.resource.AttributeDefinitionResource" />
	<bean id="blacklistResource" class="com.gss.adm.rest.plugin.resource.BlacklistResource" />
	<bean id="changeAnalysisResource" class="com.gss.adm.rest.plugin.resource.ChangeAnalysisResource" />
	<bean id="developerResource" class="com.gss.adm.rest.plugin.resource.DeveloperResource" />
	<bean id="entityDefinitionResource" class="com.gss.adm.rest.plugin.resource.EntityDefinitionResource" />
	<bean id="entityRelationshipResource" class="com.gss.adm.rest.plugin.resource.EntityRelationshipResource" />
	<bean id="entityResource" class="com.gss.adm.rest.plugin.resource.EntityResource" />
	<bean id="fullTextSearchResource" class="com.gss.adm.rest.plugin.resource.FullTextSearchResource" />
	<bean id="impactAnalysisResource" class="com.gss.adm.rest.plugin.resource.ImpactAnalysisResource" />
	<bean id="invocationRelationResource" class="com.gss.adm.rest.plugin.resource.InvocationRelationResource" />
	<bean id="invocationRateResource" class="com.gss.adm.rest.plugin.resource.InvocationRateResource" />
	<bean id="logScheduleResource" class="com.gss.adm.rest.plugin.resource.LogScheduleResource" />
	<bean id="logScheduleStepResource" class="com.gss.adm.rest.plugin.resource.LogScheduleStepResource" />
	<bean id="miningRuleResource" class="com.gss.adm.rest.plugin.resource.MiningRuleResource" />
	<bean id="modelAttributeResource" class="com.gss.adm.rest.plugin.resource.ModelAttributeResource" />
	<bean id="modelStatusTypeResource" class="com.gss.adm.rest.plugin.resource.ModelStatusTypeResource" />
	<bean id="projectModelAttributeResource" class="com.gss.adm.rest.plugin.resource.ProjectModelAttributeResource" />
	<bean id="projectModelDefinitionResource" class="com.gss.adm.rest.plugin.resource.ProjectModelDefinitionResource" />
	<bean id="projectModelResource" class="com.gss.adm.rest.plugin.resource.ProjectModelResource" />
	<bean id="projectResource" class="com.gss.adm.rest.plugin.resource.ProjectResource" />
	<bean id="projectStatisticsResource" class="com.gss.adm.rest.plugin.resource.ProjectStatisticsResource" />
	<bean id="relationCauseResource" class="com.gss.adm.rest.plugin.resource.RelationCauseResource" />
	<bean id="relationRuleResource" class="com.gss.adm.rest.plugin.resource.RelationRuleResource" />
	<bean id="relationTemplateResource" class="com.gss.adm.rest.plugin.resource.RelationTemplateResource" />
	<bean id="relationTypeResource" class="com.gss.adm.rest.plugin.resource.RelationTypeResource" />
	<bean id="restTestResource" class="com.gss.adm.rest.plugin.resource.RestTestResource" />
	<bean id="scheduleInfoResource" class="com.gss.adm.rest.plugin.resource.ScheduleInfoResource" />
	<bean id="versionControlLogResource" class="com.gss.adm.rest.plugin.resource.VersionControlLogResource" />
	<bean id="missingRelationshipResource" class="com.gss.adm.rest.plugin.resource.MissingRelationshipResource" />
	<bean id="preScanStatusResource" class="com.gss.adm.rest.plugin.resource.PreScanStatusResource" />
	<bean id="supportedSignatureDefinitionResource" class="com.gss.adm.rest.plugin.resource.SupportedSignatureDefinitionResource" />
	<bean id="signatureDefinitionResource" class="com.gss.adm.rest.plugin.resource.SignatureDefinitionResource" />
	<bean id="LuceneIndexResource" class="com.gss.adm.rest.plugin.resource.LuceneIndexResource" />

	<jaxrs:server id="adm-rest-service" address="/latest">
		<jaxrs:serviceBeans>
			<ref bean="alertSystemStatusResource" />
			<ref bean="attributeDefinitionResource" />
			<ref bean="blacklistResource" />
			<ref bean="changeAnalysisResource" />
			<ref bean="developerResource" />
			<ref bean="entityDefinitionResource" />
			<ref bean="entityRelationshipResource" />
			<ref bean="entityResource" />
			<ref bean="fullTextSearchResource" />
			<ref bean="impactAnalysisResource" />
			<ref bean="invocationRelationResource" />
			<ref bean="invocationRateResource" />
			<ref bean="logScheduleResource" />
			<ref bean="logScheduleStepResource" />
			<ref bean="miningRuleResource" />
			<ref bean="modelAttributeResource" />
			<ref bean="modelStatusTypeResource" />
			<ref bean="projectModelAttributeResource" />
			<ref bean="projectModelDefinitionResource" />
			<ref bean="projectModelResource" />
			<ref bean="projectResource" />
			<ref bean="projectStatisticsResource" />
			<ref bean="relationCauseResource" />
			<ref bean="relationRuleResource" />
			<ref bean="relationTemplateResource" />
			<ref bean="relationTypeResource" />
			<ref bean="restTestResource" />
			<ref bean="scheduleInfoResource" />
			<ref bean="versionControlLogResource" />
			<ref bean="missingRelationshipResource" />
			<ref bean="preScanStatusResource" />
			<ref bean="supportedSignatureDefinitionResource" />
			<ref bean="signatureDefinitionResource" />
			<ref bean="LuceneIndexResource" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="com.gss.tds.common.http.provider.GsonMessageBodyProvider" />
			<bean class="com.gss.adm.api.rest.mapper.ValidationExceptionMapper"      />
			<bean class="com.gss.adm.api.rest.mapper.IllegalArgumentExceptionMapper" />
			<bean class="com.gss.adm.api.rest.mapper.RuntimeExceptionMapper"         />
			<bean class="com.gss.adm.rest.plugin.rest.mapper.SearchExceptionMapper"  />
		</jaxrs:providers>
	</jaxrs:server>

</beans>
