<?xml version="1.0" encoding="UTF-8" ?>
<!-- $Id: SystemPropertyMapper.xml 330 2017-02-09 06:43:57Z rex_wu $ -->
　
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="tw.gov.tipo.patkm.file.mapper.SystemPropertyMapper">
    <select id="findValueBy" resultType="String">
        SELECT
            VALUE
        FROM
            SYSTEM_PROPERTY
        <where>
            <if test="system != null">AND SYSTEM = #{system}</if>
            <if test="name != null">AND NAME = #{name}</if>
        </where>
    </select>
</mapper>