<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd ">

	<!-- <import resource="classpath:jenkins-rest.xml" /> -->

	<!-- Rest service client must be in first. -->
	<import resource="classpath:spring-thcb-sso-client.xml" />

	<import resource="classpath:spring-casip-web-database.xml" />
	<import resource="classpath:spring-casip-rest-plugin.xml" />
	<import resource="classpath:spring-casip-web-security.xml" />

	<tx:annotation-driven />
	<aop:aspectj-autoproxy />
	<context:component-scan base-package="com.gss.casip.core" />
	<context:component-scan base-package="com.gss.casip.web" />

	<!-- Spring: Setup Bean Validation and i18n message source (ex. messages.properties) -->

	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages" />
		<property name="useCodeAsDefaultMessage" value="true" />
		<property name="cacheSeconds" value="60" />
	</bean>


	<!-- Spring: Web MVC Framework Settings. -->

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<mvc:default-servlet-handler />

	<mvc:resources location="/resources/" mapping="/resources/**" />

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="com.gss.casip.web.spring.webmvc.GsonHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/resources/**" />
			<bean id="webContentInterceptor"
				class="org.springframework.web.servlet.mvc.WebContentInterceptor">
				<property name="cacheSeconds" value="0" />
				<property name="useExpiresHeader" value="true" />
				<property name="useCacheControlHeader" value="true" />
				<property name="useCacheControlNoStore" value="true" />
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/content/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- Spring: Profiles Setting -->
	<beans profile="develop">
		<bean id="propertyUtils" class="com.gss.casip.core.api.lang.PropertyUtils">
			<property name="locations">
				<list>
					<value>classpath:config-dev-jdbc.properties</value>
					<value>classpath:config-dev-service.properties</value>
					<value>classpath:casip-core-service-dev.properties</value>
				</list>
			</property>
		</bean>
	</beans>

	<beans profile="production">
		<bean id="propertyUtils" class="com.gss.casip.core.api.lang.PropertyUtils">
			<property name="locations">
				<list>
					<value>classpath:config-prod-jdbc.properties</value>
					<value>classpath:config-prod-service.properties</value>
					<value>classpath:casip-core-service-prod.properties</value>
				</list>
			</property>
		</bean>
	</beans>

</beans>
